/* font family */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 130px;
}

/* Navigation styles */

.nav-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* common style */
.primary-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.nav-header {
    display: flex;
}

.nav-header .icon {
    padding-right: 10px;
}

.nav-colorful-header {
    color: #FF5400;
    font-size: 2.5rem;
    font-weight: 800;
}

.nav-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-item ul li {
    list-style: none;
    margin-right: 40px;
    padding: 5px;
}

.nav-item a {
    text-decoration: none;
    margin: 0 auto;
}

.list {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav-item #home-color {
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;
}

/* banner section related styles */
.banner {
    margin-top: 50px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 100%;
    height: 76vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    display: grid;
    align-items: center;

}

/* banner text related styles */
.banner-content .text-content {
    max-width: 60%;
    margin: auto;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 24px;
}

/* banner form styles */
.banner-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 60%;
    margin: auto;
    display: flex;
    column-gap: 24px;
    justify-content: center;
    padding: 16px;

}

.first-btn {
    background-color: #FFF;
    padding: 14px 30px 14px 10px;
    border-radius: 8px;
    border: 0;
}

.same-btn {
    background-color: #FFF;
    padding: 14px 30px 14px 10px;
    border-radius: 8px;
    border: 0;
}

/* common-style */
.btn-primary {
    margin-right: 30px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
}

.color-btn {
    border-radius: 8px;
    background-color: #FF5400;
    border: 0;
    padding: 11px 20px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.color-btn .color-btn-text {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    background-color: #FF5400;
    border: 0;
}

/* Section-one-styles is here */
.s1-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.s1-content {
    margin-bottom: 30px;
    width: 45%;
}

.s1-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding: 24px 5px;

}

.s1-content ul {
    padding-left: 30px;
    width: 80%;
}

.s1-content ul li {
    padding: 10px 0px;
}

/* section-one-img  */
.s1-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* section two is here */

.s2-container {
    width: 100%;
    margin: 100px auto;
}

.s2-container .s2-content {
    text-align: center;
    width: 60%;
    margin: 50px auto;

}

.s2-grid-img-part {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;

}

/* grid item styles */
.text-add {
    width: 100%;
    height: auto;
    position: relative;
}

/* added a heading on the image with center */
.text-add h1 {
    position: absolute;
    z-index: 10;
    color: #FFF;
    font-size: 1.9rem;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);


}

.img-box img {
    width: 100%;
    height: 100%;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
}

.item-2 {
    grid-column-start: 7;
    grid-column-end: 13;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.item-4 {
    grid-column-start: 5;
    grid-column-end: 10;
}

.item-5 {
    grid-column-start: 10;
    grid-column-end: 13;
}

.item-6 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.item-7 {
    grid-column-start: 6;
    grid-column-end: 13;
}


/* section three styles are here */

/* section four all styles are here */
.s4-container {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.s4-newsletter-container {
    width: 40%;
    padding: 40px;
}

.s4-form-container {
    display: flex;
    flex-direction: column;

}

.s4-form-container input {
    padding: 30px 10px;
    border: 0;

}

.s4-img-container {
    width: 45%;
    height: auto;
    position: relative;

}

.s4-img-container img {
    width: 100%;
    height: auto;
}

.s4-img-text {
    border-radius: 16px;
    background-color: #FF5400;
    border: 0;
    padding: 10px;
    width: 50%;
    height: 17%;
    position: absolute;
    bottom: 63px;
    right: 5px;
    transform: rotate(-28deg);
}

.s4-img-small-title {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.s4-img-discount {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}


/* footer section  styles*/
/* upper portion styles */

.footer-container {
    margin-top: 100px;


}

.upper-footer {
    width: 60%;
    margin: auto;
}

.icon-hero {
    padding: 10px 20px;
}

.footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 30px;
}

.icon-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.icon-container ul li {
    list-style: none;
    padding: 20px;
    font-size: 1.5em;
}

/* lower portion styles */

.lower-footer {
    text-align: center;
    padding: 100px;
}

.footer-content hr {
    background: rgba(19, 19, 24, 0.10);
    width: 50%;
    margin: auto;
}


/* Mobile responsive styles */
@media screen and (max-width: 600px) {

    body {
        margin: 0 40px;
    }

    .nav-item {
        display: none;
    }

    .banner-content .text-content {
        width: 100%;
        margin-bottom: -40px;

    }

    .banner-title {
        font-size: 1.375rem;
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .banner-form {
        display: block;
        width: 80%;
        margin-bottom: 20px;

    }

    .first-btn {
        margin: 16px 0px;
        text-align: left;
    }

    .same-btn {
        margin-bottom: 16px;
        text-align: left;
    }

    /* section-one-mobile responsiveness */
    .s1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 100px auto;
    }

    .s1-content {
        width: 96%;
    }

    /* section two responsive for mobile device */
    .s2-grid-img-part {

        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
        /* background-color: #5a5a5d4f; */
        row-gap: 24px;
    }

    .item-1 {
        grid-column: 1/ 13;
    }

    .item-2 {
        grid-column: 1/13;
    }

    .item-3 {
        grid-column: 1/13;
    }

    .item-4 {
        grid-column: 1/13;
    }

    .item-5 {
        grid-column: 1/13;
    }

    .item-6 {
        grid-column: 1/13;
    }

    .item-7 {
        grid-column: 1/13;
    }

    /* section three responsiveness */

    /* section four responsive styles */

    .s4-container {
        flex-direction: column;

    }

    .s4-newsletter-container {
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }

    .s4-img-container {
        width: 100%;
        /* height: auto; */
        margin: 30px auto;

    }

    .s4-img-text {
        /* height: auto; */
        height: 22%;
        width: 55%;
        bottom: 49px;
        right: 4px;
        transform: rotate(-26deg);
    }

    /* footer responsive styles */
    .upper-footer {
        width: 100%;
        margin: 0 auto;
    }

    .lower-footer {
        padding: 60px;
    }

    .footer-container .primary-title {
        font-size: 1.5rem;

    }

    .footer-container .nav-colorful-header {
        font-size: 1.5rem;
    }

    .icon-hero {
        padding: 10px;
    }
}